#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include "keyatura-layouts.dtsi"
#include "keyatura.dtsi"
#include "keyatura_esb_addr.dtsi"


&physical_layout0 {
    transform = <&default_transform>;
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    }; 

    mock_kscan: kscan0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    /omit-if-no-ref/ zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <500>;
    };
};

&mouse_listener {
    status = "okay";
    input-processors = <&zip_y_scaler 3 2>;

    sniper {
        layers = <2>;
        input-processors = <&zip_xy_scaler 1 2>;
    };
};

&dongle_encoder {
	compatible = "alps,ec11";
    status = "okay";
    // NFC pins in nRF52 series: P0.09 and P0.10
    a-gpios = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    b-gpios = <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    steps = <96>; // <36>; for 23mm wheel, <48>; for 19mm wheel
};

&sensors {
    triggers-per-rotation = <24>;
};